<div class="footer">
  <div class="footer-container">
    <img src="/0images/CYC-logo-white.png" alt="" />
    <p>© 2026 Creative Youth For Change</p>
    <p>All rights reserved</p>
  </div>

  <nav class="footer-container">
    <h4 data-i18n="links">Links</h4>
    <a href="/about-us.html" data-i18n="aboutUs">About us</a>
    <a href="/projects.html" data-i18n="projects">Projects</a>
    <a href="/team.html" data-i18n="team">Team</a>
    <a href="/privacy-policy.html" data-i18n="privacyPolicy">Privacy policy</a>
  </nav>

  <nav class="footer-container">
    <h4 data-i18n="connect">Connect</h4>
    <a
      href="https://www.facebook.com/profile.php?id=61557839685553"
      data-i18n="facebook"
    >Facebook</a>
    <a
      href="https://www.instagram.com/creativeyouth4change?igsh=MXdpeHAzbDl0MzQ4Yg=="
      data-i18n="instagram"
    >Instagram</a>
    <a href="https://x.com/creativ93204" data-i18n="twitter"
    >X (Twitter)</a>
    <a
      href="https://www.linkedin.com/in/creative-youth-4-change/"
      data-i18n="linkedin"
    >LinkedIn</a>
  </nav>

  <div class="footer-container">
    <h4 data-i18n="contact">Contact</h4>
    <p>
      <span data-i18n="email">Email</span>:
      creactiveyouthforchange@gmail.com
    </p>
    <p>
      <span data-i18n="phone">Phone</span>: +93 70 407 0460
    </p>
  </div>
</div>